<div class="section">
  <h2>Edit a 2002registry User Account</h2>
  <% form_for(current_user) do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <p>
        <%= link_to("Click here to change your password.",
                    change_password_user_path(current_user),
                    :class => "change_password") %>
      </p>
    </div>
    <div class="field">
      <%= image_tag current_user.avatar.url(:thumb) %>      
      <p>
        <%= link_to("Click here to change your profile picture.",
                    edit_image_user_path(current_user),
                    :class => "change_profile_picture") %>
      </p>
    </div>
    <div class="field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address1, "Address 1:" %>
      <%= f.text_field :address1, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :address2, "Address 2:" %>
     <%= f.text_field :address2, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :city, "City:" %>
     <%= f.text_field :city, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :state, "State:" %>
     <select id="user_state" name="user[state]">
       <%= render "layouts/stateoptions" %>
     </select>
   </div>
   <div class="field">
     <%= f.label :zip, "ZIP:" %>
     <%= f.text_field :zip, :size => "10" %>
   </div>
   <div class="field">
     <%= f.label :country, "Country: " %>
     <select id="user_country" name="user[country]">
       <%= render "layouts/countryoptions" %>
     </select>
   </div>
    <div class="field">
      <%= f.submit "Submit", :class => "round" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $(".change_password").click(function(event) {
      event.preventDefault();
      $.get($(this).attr("href"), function(data) {
        var dialogBox = new DialogBox(data);
        dialogBox.show();
      });
    });
    $(".change_profile_picture").click(function(event) {
      event.preventDefault();
      $.get($(this).attr("href"), function(data) {
        var dialogBox = new DialogBox(data);
        dialogBox.show();
      });
    });
  });
</script>
