<div class="section">
  <h2>Create a 2002registry User Account</h2>
  <p>
    Please be sure to fill in all the fields correctly, as this will be 
    the information that you will register your car with.
  </p>
  <% form_for(@user, :html => { :multipart => true }) do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password, :size => "16" %>
    </div>
    <div class="field">
      <%= f.label :password_confirm, "Confirm Password:" %>
      <%= f.password_field :password_confirm, :size => "16" %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address1, "Address 1:" %>
      <%= f.text_field :address1, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :address2, "Address 2:" %>
     <%= f.text_field :address2, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :city, "City:" %>
     <%= f.text_field :city, :size => "25" %>
   </div>
   <div class="field">
     <%= f.label :state, "State:" %>
     <select id="user_state" name="user[state]">
       <%= render "layouts/stateoptions" %>
     </select>
   </div>
   <div class="field">
     <%= f.label :zip, "ZIP:" %>
     <%= f.text_field :zip, :size => "10" %>
   </div>
   <div class="field">
     <%= f.label :country, "Country: " %>
     <select id="user_country" name="user[country]">
       <%= render "layouts/countryoptions" %>
     </select>
    </div>
    <div class="field">
    <%= f.label :image, "Profile Image: " %>
      <%= f.file_field :image, :size => 16 %>
    </div>
    <div class="field">
      <%= f.submit "Submit", :class => "round" %>
    </div>
  <% end %>
</div>
