Hi: <%= h @user.name %>

<% @user.cars.each do |car| %>
  <div class="section car">
    <span class="vin"><%= link_to(car.vin, car_path(car)) %></span>
    <span class="year"><%= car.claimed_year %></span>
    <span class="color"><%= car.color %></span>
    <span class="model"><%= car.model.name %></span>
  </div>
<% end %>
