<div class="section">
  <h2>Car: <%= h(@car.vin) %></h2>
  <div class="details">
    <%= image_tag @car.image.url(:larger) %>
    <ul>
      <li>Year: <%= h(@car.claimed_year) %></li>
      <li>Color: <%= h(@car.color) %></li>
      <li>Model: <%= h(@car.model.name) %></li>
      <li>Country: <%= h(@car.location_country_code) %></li>
      <li>State: <%= h(@car.location_state) %></li>
    </ul>
  </div>
</div>
