<div class="section carshow">
  <div class="details border">
    <div class="image">
      <%= image_tag @car.image.url(:larger), :class => "image" %>
    </div>
    <div class="description">
      <h2>Car: <%= h(@car.vin) %></h2>
      <ul>
        <li>Year: <%= h(@car.claimed_year) %></li>
        <li>Color: <%= h(@car.color) %></li>
        <li>Model: <%= h(@car.model.name) %></li>
        <li>Country: <%= h(@car.location_country_code) %></li>
        <li>State: <%= h(@car.location_state) %></li>
        <li><%= link_to "Change", edit_car_path %></li>
        <li>
          <a href="#" class="delete_car">Delete</a>
          <%= link_to "Delete", car_path, :method => :delete, :class => "hidden_delete_link" %>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $(".delete_car").click(function() {
      var html =
        "<div class=\"section deletecar\">" +
          "<h2>Confirm delete car</h2>" +
          "<p>" +
            "Are you sure you want to delete this car?" +
          "</p>" +
          "<div class=\"field\">" +
            "<input class=\"ok\" type=\"button\" value=\"Yes\" />" +
          "</div>" +
          "<div class=\"field\">" +
            "<input class=\"cancel\" type=\"button\" value=\"No\" />" +
          "</div>" +
        "</div>";

        var dialogBox = new DialogBox(html);
        dialogBox.show();
        $("input.ok").click(function() {
          dialogBox.close();
          $(".hidden_delete_link").click();
        });
        $("input.cancel").click(function() {
          dialogBox.close();
        });
    });
  });
</script>
