<div class="app_menu">
  <ul>
  <% if signed_in? %>
    <li><%= link_to "Home", user_path(current_user), :class => "round" %></li>
    <li><%= link_to "Register Car", new_car_path, :class => "round" %></li>
  <% else %>
    <li><%= link_to "Home", root_path, :class => "round" %></li>  <% end %>
  </ul>
  <ul class="account_status">
  <% if signed_in? %>
    <li><%= h(current_user.name) %></li>
    <li><%= link_to "Sign Out", signout_path, :class => "round" %></li>
  <% else %>
    <li><a class="hovertarget signin_target round">Sign in</a></li>
    <li><%= link_to "Create Account", signup_path, :class => "round" %></li>
  <% end%>
  </ul>
</div>

<div class="hovermenu signin_layer round">
  <% form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password, "Pass:" %>
      <%= f.password_field :password %>
    </div>
    <div class="field text_right">
      <%= f.submit "Sign In" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    $(".signin_target").menuPopup(".signin_layer");
  });
</script>
