<div id="toolbar" class="round">
  <div class="padder">
    <ul class="navbar">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Create Account", "#" %></li>
      <li><%= link_to "View Pictures", "#" %></li>
      <li><%= link_to "Car Statistics", "#" %></li>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Privacy", "#" %></li>
    </ul>
  </div>
</div>
