<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @title %></title>
    <%= render "layouts/stylesheets" %>
    <%= javascript_include_tag javascript_files %>
  </head>
  <body>
    
    <div id="container">

      <div id="navbar" class="round">
        <%= render "layouts/navbar" %>
      </div>

      <% unless flash[:notice].blank? %>
        <div class="flash notice round">
          <%= h(flash[:notice]) %>
          <span class="button close">X</span>
        </div>
      <% end %>
      <% unless flash[:error].blank? %>      
        <div class="flash error round">
          <%= h(flash[:notice]) %>
          <span class="button close">X</span>
        </div>
      <% end %>

      <div id="content" class="round">
        <%= yield %>
      </div>
      
    </div>

  <script type="text/javascript">
    $(function() {
      $(".button.close").click(function() {
        $(this).parent().fadeOut("fast");
      })
    });
  </script>
  </body>
</html>
